<div class="fluid-container">
  <!-- Title-->
  <div class="row d-flex align-items-center m-0">
    <% if(heading){ %>
    <h1 class="py-3 px-5 col-10"><%= heading %></h1>
    <% } %>
    <div class="col-2"><%- include('../partials/langButton') %></div>
  </div>
  <hr />

  <!-- Headline  -->
  <%- include('../partials/headline') %>

  <!-- Button trigger modal -->
  <div class="d-grid d-md-flex justify-content-md-end mx-5">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addIngredientModal"
    >
      Add item
    </button>
  </div>

  <!-- HTML for displaying alerts -->
  <div id="alertContainer" class="mt-3"></div>

  <!-- Ingredient table starts -->
  <table class="table mt-3 text-center">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% ingredients.forEach((ingredient, index) => { %>
      <tr>
        <td><%= ingredient.id %></td>
        <td> <img src="/uploadImages/<%= ingredient.category.image %>" width="100" alt="category image"></td>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.category.name %></td>
        <td>
          <!-- Button trigger update modal -->
          <button
            type="button"
            class="btn btn-link update-ingredient"
            style="cursor: pointer; text-decoration: none; color: black"
            data-bs-toggle="modal"
            data-bs-target="#updateIngredientModal-<%= ingredient.id %>"
          >
            <i class="ri-edit-box-line"></i>
          </button>
        </td>
        <td>
          <!-- Button trigger delete confirmation modal -->
          <button
            type="button"
            class="btn btn-link delete-ingredient"
            style="cursor: pointer; text-decoration: none; color: black"
            data-bs-toggle="modal"
            data-bs-target="#deleteIngredientModal-<%= ingredient.id %>"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>

      <!-- Update ingredient modal starts -->
      <div
        class="modal fade"
        id="updateIngredientModal-<%= ingredient.id %>"
        tabindex="-1"
        aria-labelledby="updateIngredientModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="updateIngredientModalLabel">
                Update Ingredient
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form
                action="/ingredientManagement/update/<%= ingredient.id %>"
                id="ingredientUpdateForm"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="mb-3">
                  <label for="ingredientName" class="form-label"
                    >Update Ingredient Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="ingredientName"
                    value="<%= ingredient.name %>"
                    name="name"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="categoryName" class="form-label"
                    >Update Category Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="categoryName"
                    name="categoryName"
                    value="<%= ingredient.category.name %>"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="newImage<%= index %>" class="form-label"
                    >Update Category Image</label
                  >
                  <input
                    type="file"
                    class="form-control"
                    id="newImage<%= index %>"
                    name="newImage"
                  />
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">
                    Save changes
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Update ingredient modal ends -->

      <!-- Delete ingredient modal starts -->
      <div
        class="modal fade"
        id="deleteIngredientModal-<%= ingredient.id %>"
        tabindex="-1"
        aria-labelledby="deleteIngredientModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteIngredientModalLabel">
                Delete Ingredient
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form
                action="/ingredientManagement/delete/<%=ingredient.id%>"
                id="ingredientDeleteForm"
                method="post"
              >
                <p>
                  Are you sure to permanently delete <%= ingredient.name %>?
                </p>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-danger">Delete</button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Delete ingredient modal ends -->

      <% }) %>
    </tbody>
  </table>
  <%- include('../partials/navigationOfTable') %>
  <!-- Ingredient table ends -->
</div>

<!-- Create ingredient modal starts -->
<div
  class="modal fade"
  id="addIngredientModal"
  tabindex="-1"
  aria-labelledby="addIngredientModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addIngredientModalLabel">
          Add new ingredient
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        id="ingredientForm"
        action="/ingredientManagement/new"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div class="mb-3">
            <label for="ingredientName" class="form-label"
              >Ingredient Name</label
            >
            <input
              type="text"
              class="form-control"
              id="ingredientName"
              name="name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="categoryName" class="form-label">Category Name</label>
            <input
              type="text"
              class="form-control"
              id="categoryName"
              name="categoryName"
              required
            />
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Category image</label>
            <input
              type="file"
              class="form-control"
              id="image"
              name="image"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Create ingredient modal ends -->
