<div class="fluid-container">
  <!-- Title-->
  <div class="row d-flex align-items-center m-0">
    <% if(heading){ %>
    <h1 class="py-3 px-5 col-10"><%= heading %></h1>
    <% } %>
    <div class="col-2"><%- include('../partials/langButton') %></div>
  </div>
  <hr />

  <!-- Headline  -->
  <%- include('../partials/headline') %>

  <!-- Button trigger modal -->
  <div class="d-grid d-md-flex justify-content-md-end mx-5">
    <!-- Button trigger add recipe modal -->
    <button
    id="addRecipeBtn"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#addRecipeModal"
  >
    Add Item
  </button>
  </div>
  <!-- HTML for displaying alerts -->
  <div id="alertContainer" class="mt-3"></div>

  <!-- Recipe table starts -->
  <table class="table table-hover mt-3 text-center">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <!-- <th scope="col">ID</th> -->
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col" style="width: 300px;">Ingredients</th>
        <th scope="col">Cuisine</th>
        <th scope="col">Time</th>
        <th scope="col" style="max-width: 200px; word-wrap: break-word;">URL</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach(function(recipe,index){ %>
        <tr>
          <td>
            <% if (recipe.image) { %>
              <img
                src="/uploadImages/<%= recipe.image %>"
                alt="<%= recipe.image %>"
                width="100"
              />
            <% } else { %>
              N/A
            <% } %>
          </td>
          <!-- <td><%= recipe.id %></td> -->
          <td><%= recipe.name %></td>
          <td><%= recipe.description ? recipe.description : 'N/A'%></td>
          <td style="width: 300px;">
            <% recipe.ingredients.forEach(ingredient => { %>
              <%= ingredient?.ingredient?.name %> (<%= ingredient.quantity %>)<br>
            <% })%>
          </td>
          <td><%= recipe.cuisine ? recipe.cuisine.name : 'N/A' %></td>
          <td><%= recipe.time ? recipe.time : 'N/A' %></td>
          <td style="max-width: 200px; word-wrap: break-word;"><%= recipe.url ? recipe.url : 'N/A' %></td>
          <td>
            <!-- Button trigger update modal -->
            <button
              type="button"
              class="btn btn-link update-recipe"
              style="cursor: pointer; text-decoration: none; color: black"
              data-bs-toggle="modal"
              data-bs-target="#updateRecipeModal-<%= index %>"
            >
              <i class="ri-edit-box-line"></i>
            </button>
          </td>
          <td>
            <!-- Button trigger delete confirmation modal -->
            <button
              type="button"
              class="btn btn-link delete-recipe"
              style="cursor: pointer; text-decoration: none; color: black"
              data-bs-toggle="modal"
              data-bs-target="#deleteRecipeModal-<%= index %>"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        <!-- Update recipe modal starts -->
        <div
          class="modal fade"
          id="updateRecipeModal-<%=index%>"
          tabindex="-1"
          aria-labelledby="updateRecipeModalLabel-<%=index%>"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" style="max-width: 40%">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateRecipeModalLabel-<%=index%>">Update Recipe</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body" id="updateRecipeFormContainer-<%=index%>">
                <form action="/recipeManagement/update/<%=recipe.id%>" method="post" id="updateRecipeForm-<%=index%>" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="recipeName" class="form-label">Recipe Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="recipeName"
                      name="name"
                      value="<%=recipe.name%>"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="recipeDescription" class="form-label"
                      >Description</label
                    >
                    <input
                      class="form-control"
                      id="recipeDescription"
                      name="description"
                      value="<%=recipe.description%>"
                    >
                  </div>

                  <div class="mb-3 ingredientsContainer">
                    <label for="updateRecipeIngredients" class="form-label">Ingredients</label>
                    <% recipe.ingredients.forEach((ingredient, index) => { %>
                      <div class="row mb-3 ingredientObject">
                        <div class="col position-relative">
                          <div class="search-select-box">
                            <select name="ingredient" class="w-100 form-control" data-live-search="true">
                              <% ingredients.forEach(ing => { %>
                                <option value="<%= ing.name %>" <%= (ing.name === ingredient.ingredient.name) ? 'selected' : '' %>><%= ing.name %></option>
                              <% }) %> 
                            </select>
                          </div>
                        </div>
                        <div class="col">
                          <input type="text" name="quantity" class="form-control" value="<%= ingredient.quantity %>" placeholder="Quantity" aria-label="Quantity"/>
                        </div>
                        <div class="col-1 fs-4 remove-ingredient" style="cursor: pointer; display: none" onclick="removeIngredient(this)">
                          <i class="ri-close-line" aria-label="Remove ingredient"></i>
                        </div>
                      </div>
                    <% }) %>
                    <div class="row mb-3">
                      <div class="col px-3 add-ingredient" style="cursor: pointer; color: blue" onclick="addIngredient('updateRecipeModal-<%=index%>')">+ Add ingredient</div>
                      <div class="col">
                        <a href="/ingredientManagement">Can't find your ingredient? Create new here.</a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="mb-3">
                    <label for="updateRecipeCuisine" class="form-label">Cuisine</label>
                    <select class="form-select" id="updateRecipeCuisine" name="cuisine">
                      <% cuisines.forEach(function(cuisine) { %>
                      <option value="<%= cuisine._id%>"><%= cuisine.name %></option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="newImage" class="form-label">Image</label>
                    <input
                      type="file"
                      class="form-control"
                      id="newImage"
                      name="newImage"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="recipeTime" class="form-label">Time</label>
                    <input
                      type="text"
                      class="form-control"
                      id="recipeTime"
                      name="time"
                      value="<%=recipe.time%>"

                    />
                  </div>
                  <div class="mb-3">
                    <label for="recipeUrl" class="form-label">URL</label>
                    <input
                      type="text"
                      class="form-control"
                      id="recipeUrl"
                      name="url"
                      value="<%=recipe.url%>"

                    />
                  </div>
                </form> 
              </div>

              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" form="updateRecipeForm-<%=index%>">Save Recipe</button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
              </div>
              
            </div>
          </div>
        </div>
        <!-- Update recipe modal ends -->        
        
        <!-- Delete recipe modal starts -->
        <div
          class="modal fade"
          id="deleteRecipeModal-<%=index%>"
          tabindex="-1"
          aria-labelledby="deleteRecipeModalLabel-<%=index%>"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteIngredientModalLabel-<%=index%>">
                  Delete Recipe
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form
                action="/recipeManagement/delete/<%=recipe.id%>"
                id="recipeDeleteForm"
                method="post"
              >
                <div class="modal-body">
                  
                    <p>
                      Are you sure to permanently delete <%= recipe.name %>?
                    </p>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-danger">Delete</button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Delete recipe modal ends -->
        <% }) %>
    </tbody>
  </table>
  <!-- Recipe table ends -->
</div>

<!-- Create recipe modal starts -->
<div
  class="modal fade"
  id="addRecipeModal"
  tabindex="-1"
  aria-labelledby="addRecipeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" style="max-width: 40%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRecipeModalLabel">Add New Recipe</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="/recipeManagement/new" method="post" enctype="multipart/form-data">
        <div class="modal-body" id="recipeFormContainer">
          <div class="mb-3">
            <label for="recipeName" class="form-label">Recipe Name</label>
            <input
              type="text"
              class="form-control"
              id="recipeName"
              name="name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="recipeDescription" class="form-label"
              >Description</label
            >
            <input
              class="form-control"
              id="recipeDescription"
              name="description"
            ></input>
          </div>

          <div class="mb-3 ingredientsContainer">
            <label for="recipeIngredients" class="form-label">Ingredients</label>
            <div class="row mb-3 ingredientObject">
              <div class="col position-relative">
                <div class="search-select-box">
                  <select name="ingredient" class="w-100 form-control" data-live-search="true">
                    <% ingredients.forEach(ingredient => { %>
                      <option name="<%= ingredient.name %>" value="<%= ingredient.name %>" data-tokens="<%= ingredient.name %>"><%= ingredient.name %></option>
                    <% }) %> 
                  </select>
                </div>
              </div>
              <div class="col">
                <input type="text" name="quantity" class="form-control" placeholder="Quantity" aria-label="Quantity"/>
              </div>
              <div class="col-1 fs-4 remove-ingredient" style="cursor: pointer; display: none" onclick="removeIngredient(this)">
                <i class="ri-close-line" aria-label="Remove ingredient"></i>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col px-3 add-ingredient" style="cursor: pointer; color: blue" onclick="addIngredient('addRecipeModal')">+ Add ingredient</div>
              <div class="col">
                <a href="/ingredientManagement">Can't find your ingredient? Create new here.</a>
              </div>
            </div>
          </div>
          
          <div class="mb-3">
            <label for="recipeCuisine" class="form-label">Cuisine</label>
            <select class="form-select" id="recipeCuisine" name="cuisine">
              <% cuisines.forEach(function(cuisine) { %>
              <option value="<%= cuisine._id%>"><%= cuisine.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input
              type="file"
              class="form-control"
              id="image"
              name="image"
            />
          </div>
          <div class="mb-3">
            <label for="recipeTime" class="form-label">Time</label>
            <input
              type="text"
              class="form-control"
              id="recipeTime"
              name="time"
            />
          </div>
          <div class="mb-3">
            <label for="recipeUrl" class="form-label">URL</label>
            <input
              type="text"
              class="form-control"
              id="recipeUrl"
              name="url"
            />
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save Recipe</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Create recipe modal ends -->


<script>
  function addIngredient(modalId){
    const newRow = document.createElement('div');
    newRow.classList.add('row', 'mb-3', 'ingredientObject');
    newRow.innerHTML = `
      <div class="col position-relative">
        <div class="search-select-box">
          <select name="ingredient[]" class="w-100 form-control" data-live-search="true">
            <% ingredients.forEach(ingredient => { %>
              <option name="<%= ingredient.name %>" value="<%= ingredient.name %>" data-tokens="<%= ingredient.name %>"><%= ingredient.name %></option>
            <% }) %> 
          </select>
        </div>
      </div>
      <div class="col">
        <input type="text" name="quantity[]" class="form-control" placeholder="Quantity" aria-label="Quantity"/>
      </div>
      <div class="col-1 fs-4 remove-ingredient" style="cursor: pointer; display: none" onclick="removeIngredient(this)">
        <i class="ri-close-line" aria-label="Remove ingredient"></i>
      </div>
    `;
    
    const modal = document.getElementById(modalId);
    const ingredientsContainer = modal.querySelector('.ingredientsContainer');
    const addNewIngredientButton = ingredientsContainer.querySelector('.add-ingredient');
    ingredientsContainer.insertBefore(newRow, addNewIngredientButton.parentElement);
    
    // Re-initialize Bootstrap-select plugin
    $('.search-select-box select').selectpicker();


    const removeIngredients = modal.querySelectorAll('.remove-ingredient');
    if (removeIngredients.length > 1) {
      removeIngredients.forEach((element) => {
        element.style.display = 'block';
      });
    } else {
      removeIngredients[0].style.display = 'none';
    }

    console.log('Modal ID:', modalId);
    console.log('Modal Element:', modal);
    console.log('Ingredients Container:', ingredientsContainer);
  }

  function removeIngredient(element) {
    const row = element.closest('.row');
    row.parentNode.removeChild(row);

    const removeIngredients = document.querySelectorAll('.remove-ingredient');
    if (removeIngredients.length <= 1) {
      removeIngredients.forEach((element) => {
        element.style.display = 'none';
      });
    }
  }

  $(document).ready(function () {
        $('.search-select-box select').selectpicker();
    });
</script>