<div class="fluid-container">
   <!-- Title-->
   <div class="row d-flex align-items-center">
      <% if(heading){ %>
      <h1 class="py-3 px-5 col-10"><%= heading %></h1>
      <% } %>
      <div class="col-2"><%- include('../partials/langButton') %></div>
   </div>
   <hr />

   <!-- Headline  -->
   <%- include('../partials/headline') %>

   <!-- Table display information -->
   <table class="table text-center" style="height: 500px">
      <thead>
         <tr>
            <th class="w-25" scope="col">Created</th>
            <th class="w-25" scope="col">Username</th>
            <th class="w-25" scope="col">Email</th>
            <th class="w-25" scope="col"></th>
         </tr>
      </thead>
      <tbody>
         <% users.forEach( user => { %>
         <tr>
            <td class="w-25"><%= user.getFormattedDateTime() %></td>
            <td class="w-25"><%= user.username %></td>
            <td class="w-25"><%= user.email %></td>
            <td class="w-25">
               <a
                  href=""
                  style="cursor: pointer; text-decoration: none; color: black"
               >
                  <i class="ri-edit-box-line"></i>
               </a>
            </td>
         </tr>
         <% }) %>
      </tbody>
   </table>

   <!-- Navigation of the table -->
   <%- include('../partials/navigationOfTable') %>
</div>
