<head>
   <!-- Add datatable -->
   <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" />
   <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
   <script src="/js/admin/datatable.js" defer></script>
</head>

<div class="fluid-container">
   <!-- Header at the top of page -->
   <div class="head-page">
      <div class="nav-left">
         <% if(heading){ %>
            <span class="welcome" ><%= heading %></span>
         <% } %> 
      </div>

      <div class="nav-right">
         <%- include('../partials/langButton') %>
      </div>
   </div>

   <div style="position: fixed; top: 10px; right: 5px;">
      <%- include('../partials/notificationMessage') %>
   </div>

  <%- include('../partials/headline') %>

   <!-- Table display information user account-->
   <h3 class="px-3 mt-3">User account</h3>
   <div class="px-3" style="overflow-x: auto;">
         <table class="table" style="height: 500px;" id="table">
      <thead>
         <tr>

            <th class="w-25" scope="col">No.</th>
            <th class="w-25" scope="col">Created</th>
            <th class="w-25" scope="col">Username</th>
            <th class="w-25" scope="col">Email</th>
            <th class="w-25" scope="col"></th>
         </tr>
      </thead>
      <tbody>
         <% users.forEach( (user,index) => { %>
               <!-- Modal for updating -->
               <div
                  class="modal fade"
                  id="staticBackdrop<%= index + 1%>"
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  aria-labelledby="staticBackdropLabel"
                  aria-hidden="true"
               >
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                     <div class="modal-content">

                        <div class="modal-header">
                           <h1
                              class="modal-title fs-5"
                              id="staticBackdropLabel"
                           >
                              Update <%= user.username %> information
                           </h1>
                           <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                           ></button>
                        </div>

                        <div class="modal-body">
                           <form action="/users/update/<%= user._id %>" method="post">
                              <div class="mb-3">
                                 <label for="username<%= index + 1  %>" class="form-label" style="float: left;">Username</label>
                                 <input
                                    type="text"
                                    class="form-control"
                                    id="username<%= index + 1  %>"
                                    name="username"
                                    value="<%= user.username %>"
                                 />
                              </div>
                              <div class="mb-3">
                                 <label for="email<%= index  + 1 %>" class="form-label" style="float: left;">Email</label>
                                 <input
                                    type="email"
                                    class="form-control"
                                    id="email<%= index  + 1 %>"
                                    name="email"
                                    value="<%= user.email %>"
                                 />
                              </div>

                              <div class="mb-3">
                                 <label for="role<%= index + 1 %>" class="form-label" style="float: left;">Role</label>
                                 <select class="form-select" id="role<%= index + 1 %>" name="role" aria-label="Default select example">
                                    <option value="true" <%= (user.role === true) ? 'selected' : '' %>>Admin</option>
                                    <option value="false" <%= (user.role === false) ? 'selected' : '' %>>User</option>
                                  </select>
                              </div>
                           
                           <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle2<%= index %>" data-bs-toggle="modal">Delete user</button>
                              <button type="submit" class="btn btn-success">
                                 Update
                              </button>


                           </div>
                        </form>
                        </div>
                     </div>
               </div>
               </div>
            <!-- Delete confirming modal  -->
            <div class="modal fade" id="exampleModalToggle2<%= index %>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2<%= index %>" tabindex="-1">
               <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                     <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Deleting <%= user.username %></h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <form action="/users/delete/<%=  user._id %>" method="post">
                        
                        <div class="modal-body">
                           Do you want to delete <strong><%= user.username %></strong> ? This action cannot be undone.
                        </div>
                        <div class="modal-footer">
                           <button type="submit" class="btn btn-success">Confirm</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         <% }) %>
      </tbody>
   </table>
   </div>



   <!-- Table display information admin account -->
   <h3 class="px-3 mt-3">Admin account</h3>
   <!-- Add new user -->
   <div class="d-grid d-md-flex justify-content-md-end mx-5">
      
      <button
         type="button"
         class="btn btn-primary"
         data-bs-toggle="modal"
         data-bs-target="#add-admin-user"
         style="margin-left: 20px;"
      >Add User</button>
   </div>
   <div class="px-3" style="overflow-x: auto;">
   <table class="table" style="height: 500px;" id="admin-table">
      <thead>
         <tr>

            <th class="w-25" scope="col">No.</th>
            <th class="w-25" scope="col">Created</th>
            <th class="w-25" scope="col">Username</th>
            <th class="w-25" scope="col">Email</th>
            <th class="w-25" scope="col"></th>
         </tr>
      </thead>
      <tbody>
         <% admins.forEach( (admin,index) => { %>
            <!-- Modal for updating -->
            <div
               class="modal fade"
               id="adminstaticBackdrop<%= index %>"
               data-bs-backdrop="static"
               data-bs-keyboard="false"
               tabindex="-1"
               aria-labelledby="staticBackdropLabel"
               aria-hidden="true"
            >
               <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">

                     <div class="modal-header">
                        <h1
                           class="modal-title fs-5"
                           id="staticBackdropLabel"
                        >
                           Update <%= admin.username %> information
                        </h1>
                        <button
                           type="button"
                           class="btn-close"
                           data-bs-dismiss="modal"
                           aria-label="Close"
                        ></button>
                     </div>

                     <div class="modal-body">
                        <form action="/users/update/<%= admin._id %>" method="post">
                           <div class="mb-3">
                              <label for="username<%= index %>" class="form-label" style="float: left;">Username</label>
                              <input
                                 type="text"
                                 class="form-control"
                                 id="username<%= index %>"
                                 name="username"
                                 value="<%= admin.username %>"
                              />
                           </div>
                           <div class="mb-3">
                              <label for="email<%= index %>" class="form-label" style="float: left;">Email</label>
                              <input
                                 type="email"
                                 class="form-control"
                                 id="email<%= index %>"
                                 name="email"
                                 value="<%= admin.email %>"
                              />
                           </div>
                           <div class="mb-3">
                              <label for="password<%= index %>" class="form-label" style="float: left;">Password</label>
                              <input
                                 type="password"
                                 class="form-control"
                                 id="password<%= index %>"
                                 name="password"
                                 placeholder="Enter new password"
                              />
                           </div>
                           <div class="mb-3">
                              <label for="role<%= index %>" class="form-label" style="float: left;">Role</label>
                              <select class="form-select" id="role<%= index %>" name="role" aria-label="Default select example">
                                 <option value="true" <%= (admin.role === true) ? 'selected' : '' %>>Admin</option>
                                 <option value="false" <%= (admin.role === false) ? 'selected' : '' %>>User</option>
                                 </select>
                           </div>
                        
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle<%= index %>" data-bs-toggle="modal">Delete user</button>

                           <button type="submit" class="btn btn-success">
                              Update
                           </button>
                        </div>
                     </form>
                     </div>
                  </div>
            </div>
            </div>
            <!-- Delete confirming modal  -->
            <div class="modal fade" id="exampleModalToggle<%= index %>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel<%= index %>" tabindex="-1">
               <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                     <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Deleting <%= admin.username %></h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <form action="/users/delete/<%=  admin._id %>" method="post">
                        
                        <div class="modal-body">
                           Do you want to delete <strong><%= admin.username %></strong> account? This action cannot be undone.
                        </div>
                        <div class="modal-footer">
                           <button type="submit" class="btn btn-success">Confirm</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <% }) %>
         </tbody>
   </table>
   </div>


   
   <!-- Modal for creating admin -->
<div class="modal fade"
               id="add-admin-user"
               data-bs-backdrop="static"
               data-bs-keyboard="false"
               tabindex="-1"
               aria-labelledby="staticBackdropLabel"
               aria-hidden="true"
            >
               <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">

                     <div class="modal-header">
                        <h1
                           class="modal-title fs-5"
                           id="staticBackdropLabel"
                        >
                           Add user
                        </h1>
                        <button
                           type="button"
                           class="btn-close"
                           data-bs-dismiss="modal"
                           aria-label="Close"
                        ></button>
                     </div>

                     <div class="modal-body">
                        <form action="/signup/addAdmin" method="post">
                           <div class="mb-3">
                              <label for="username" class="form-label" style="float: left;">Username</label>
                              <input
                                 type="text"
                                 class="form-control"
                                 id="username"
                                 name="username"
                              />
                           </div>
                           <div class="mb-3">
                              <label for="email" class="form-label" style="float: left;">Email</label>
                              <input
                                 type="email"
                                 class="form-control"
                                 id="email"
                                 name="email"
                              />
                           </div>
                           <div class="mb-3">
                              <label for="password" class="form-label" style="float: left;">Password</label>
                              <input
                                 type="password"
                                 class="form-control"
                                 id="password"
                                 name="password"
                              />
                           </div>
                           <div class="modal-footer">
                              <button type="submit" class="btn btn-success">
                                 Add user
                              </button>


                        </div>
                     </form>
                     </div>
                  </div>
            </div>

</div>
