<head>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/clients/searchHistory.css" />
    <link rel="stylesheet" href="/css/partials/globalCSS.css" />

    <!-- JS -->
    <script src="/js/clients/searchHistory.js" defer></script>
</head>

<div class="search-history-container">
    <div class="search-history-content">
        <div class="breadcrumb">
            <span>&#127968; <a href="/">Home</a> <span class="path-arrow"> > </span> Search History </span>
        </div>
        <h2>Search History</h2>
        <%- include ('../partials/searchBar') %>

        <!-- List of viewed recipes here -->
        <div id="results">
            <div id="all-recipes">

              <% if (user && user.searchHistory && user.searchHistory.length > 0) { %>
              <% user.searchHistory.forEach(recipe => { %>
              <div
                class="recipe"
                recipe-name="<%= recipe.name %>"
                recipe-img="<%= recipe.image %>"
                recipe-cuisine="<%= recipe.cuisine.name %>"
                cook-time="<%= recipe.time %>"
                rating="<%=recipe.reviews.rating%>"
              >
                <a
                  href="/recipes/<%= recipe.slug %>"
                  style="text-decoration: none; color: black"
                >
                  <!-- Hidden element to store ingredient and rating -->
                  <% recipe.ingredients.forEach(ingredient => { %>
      
                  <div
                    class="recipe-ingredients hidden"
                    recipe-ingredient="<%= ingredient.ingredient.name %>"
                  >
                    <%= ingredient.ingredient.name %>
                  </div>
                  <% }) %> <% recipe.reviews.forEach(review => { %>
                  <div
                    class="recipe-rating hidden"
                    recipe-rating="<%=review.rating%>"
                  >
                    <%=review.rating%>
                  </div>
                  <% }) %>
      
                  <div class="recipe-img-container">
                    <img class="recipe-img" src="<%= recipe.image %>" />
                  </div>
      
                  <div class="first-row">
                    <div class="recipe-name" title="<%= recipe.name %>">
                      <%= recipe.name %>
                    </div>
                    <form
                      action="/favorite-recipe/add-favorite/<%= recipe.slug %>"
                      method="post"
                    >
                      <button type="submit" class="bg-none border-0">
                        <!-- Icon source: https://remixicon.com/icon/add-box-line -->
                        <i class="ri-add-box-line" title="Add to favorites"></i>
                      </button>
                    </form>
                  </div>
                </a>
                <div class="ingredient-match"></div>
      
                <div class="second-row">
                  <div class="cook-time">
                    <img src="/images/clock.png" />
                    <span><%= recipe.time %></span>
                  </div>
                  <div class="rating">
                    <% function displayStars(rating) { %> <% const
                    roundedRating=Math.round(rating); %> <% for (let i=1; i <=5; i++)
                    { %> <% if (i <=roundedRating) { %>
                    <i class="ri-heart-3-fill stars" style="color: #ffb7b7"></i>
                    <% } else { %>
                    <i class="ri-heart-3-fill stars" style="color: #d9d9d9"></i>
                    <% } %> <% } %> <% } %> <%= displayStars(recipe.averageRating) %>
                  </div>
                </div>
              </div>  
              <% }) %>
              <% } else { %>
                <p>No search history found.</p>
              <% } %>

            </div>
          </div>
        

        <%- include ('../partials/pantry') %>

    </div> <!-- End of search-history-content -->
</div> <!-- End of search-history-container -->
