

    <h1>Ingredients Grouped by Categories</h1>
    <ul>
        <% categories.forEach(category => { %>
            <li><strong><%= category.name %></strong></li>
            <ul>
                <% ingredients.forEach(ingredient => { %>
                    <% if (ingredient.category.name === category.name) { %>
                        <li><%= ingredient.name %></li>
                    <% } %>
                <% }) %>
            </ul>
        <% }) %>
    </ul>

    <h1>All Recipes</h1>
    <ul>
        <% recipes.forEach(recipe => { %>
            <li>
                <h2><%= recipe.name %></h2>
                <img src="/images/<%= recipe.image %>" width="300">
                <p>Description: <%= recipe.description %></p>
                <% if (recipe.ingredients && recipe.ingredients.length > 0) { %>
                    <p>Ingredients:</p>
                    <ul>
                        <% recipe.ingredients.forEach(ingredient => { %>
                            <% if (ingredient && ingredient.ingredient && ingredient.ingredient.name) { %>
                                <li><%= ingredient.ingredient.name %>: <%= ingredient.quantity %></li>
                            <% } %>
                        <% }) %>
                    </ul>
                <% } %>
                <p>Duration: <%= recipe.time %></p>
                <!-- Add other recipe details here -->
            </li>
        <% }) %>
    </ul>
