<div
  class="mb-3 ingredient-list"
  style="max-height: 120px; overflow-y: auto; overflow-x: hidden; display: none"
>
  <% ingredients.forEach(function(ingredient) { %>
  <div class="row mb-2">
    <div class="col-4">
      <div class="form-check">
        <input
          class="form-check-input ingredient-checkbox"
          type="checkbox"
          id="ingredient<%= ingredient._id %>"
          name="ingredients[]"
          value="<%= ingredient._id %>"
        />
        <label class="form-check-label" for="ingredient<%= ingredient._id %>"
          ><%= ingredient.name %></label
        >
      </div>
    </div>
    <div class="col-6">
      <input
        type="text"
        class="form-control"
        id="quantity<%= ingredient._id %>"
        name="quantities[]"
        placeholder="Quantity"
      />
    </div>
  </div>
  <% }) %>
</div>


<div class="mb-3">
  <label for="recipeCuisine" class="form-label">Cuisine</label>
  <select class="form-select" id="recipeCuisine" name="cuisineName">
    <% cuisines.forEach(function(cuisine) { %>
    <option value="<%= cuisine.name %>"><%= cuisine.name %></option>
    <% }) %>
  </select>
</div>
<div class="mb-3">
  <label for="recipeImage" class="form-label">Image</label>
  <input
    type="text"
    class="form-control"
    id="recipeImage"
    name="image"
  />
</div>
<div class="mb-3">
  <label for="recipeTime" class="form-label">Time</label>
  <input
    type="text"
    class="form-control"
    id="recipeTime"
    name="time"
  />
</div>
<div class="mb-3">
  <label for="recipeUrl" class="form-label">URL</label>
  <input
    type="text"
    class="form-control"
    id="recipeUrl"
    name="url"
  />
</div>